body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Title{
  color: rgb(105, 81, 32);
  margin-top: 0px;
  font-size: 90px;
}
.creater{

}
 

.App{
  text-align: center;
}
.button{
  color: rgb(255, 255, 255);
  background-color:green;
  font-size: 100px;
  border-radius: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 20px 20px 20px;
  font-family: Arial;
  bottom: 0;
  text-align: center;
}
.pinetree2{
  
}
.backround{
  background-image: "backround.jpg";
}

